.save-icon {
    color: #007bff;
    margin-left: 10px;
    cursor: pointer; 
}

.banner-card-item{
    list-style-type: none;
    padding: 10px;
    border-radius: 30px;

}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
    box-shadow: 2px 2px 2px lightblue;
    
}

.wcu-section {
    background-color: #f9fbfe;
}

.cards-content{
    display: flex;
}