.img{
    height: 200px;
}

.banner-card-item{
    list-style-type: none;
    padding: 10px;
    border-radius: 30px;

}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-section {
    background-color: #f9fbfe;
}

.img {
    height: 150px;
}

.card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

